@model ICollection<Ch10SummaryModel>
@{
    ViewData["Title"] = "Ch10SummaryView";
}

<h2>Ch10SummaryView</h2>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="2">Name</th>
                <th colspan="2">Number of accomplishments</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var person in Model)
            {
            <tr>
                <td>@person.Summary_Name</td>
                <td>@person.Summary_No_Accompliments</td>
            </tr>
            }
        </tbody>
    </table>


</div>
